* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Mono";
}

img {
  max-width: 100%;
  display: block;
}

.topPage {
  background: #edffe6;
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text {
  padding: 4rem;

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.text > h1 {
  font-size: 8rem;
  color: #222;
}

.text > p {
  font-size: 2.5rem;
  font-weight: normal;
  color: #222;
  margin-bottom: 2rem;
}

.centerPromotion {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  text-align: center;
  gap: 2rem;
}

.centerPromotion > p {
  width: 500px;
}

.centerPromotion > h1,
h2 {
  color: #222;
}

.alerts {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.textAlerts {
  width: 400px;
}

.finalAlertx {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  max-width: 100%;
  width: 100%;
  padding: 1.125rem;
}
